{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>
<div class="container jumbotron text-center">
	<h1><strong>Bienvenido a GETSHAPE Management System</strong></h1>
	<p class="font-italic">
		GETSHAPE Management System es para ayudar y simplificar el trabajo a todos aquellos que trabajan para GETSHAPE, 
		que se forman en GETSHAPE y que son propietarios de GETSHAPE. 
		La base de datos consta de objetivos diarios y estadísticas de logros/progreso de un miembro que entrena en GETSHAPE, 
		datos de contacto e información personal, programas de entrenamiento que ofrece GETSHAPE, equipos, etc.</p>
</div>
{% endblock %}