{% extends 'layout.html' %}

<head>
  <link href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css" rel="stylesheet">

  <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>



</head>
{% block body %}
<div class="text-white">
  <h1 style="font-family: Georgia, serif;">Digite la Informacion del Membresias a Ingresar</h1>
  <div class="font-italic">
    <form action="http://127.0.0.1:5000/membresias" method="post">


      <div class="row">
        <div class="col">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Descripcion</label>
          <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" required>
        </div>
        <div class="col">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Costo</label>
          <input type="text" class="form-control" placeholder="Costo" name="costo" required>
        </div>

      </div>


      <div class="row">
        <div class="col">
          <p><input type="submit" class="btn btn-success" value="Crear Membresias"></p>
        </div>
      </div>


    </form>
    <div class="row">
      <div class="col">
        <p><button id="btseleccionar" class="btn btn-secondary">Seleccionar Informacion</button></p>
      </div>
      <div class="col">
        <p><button id="btactualizar" class="btn btn-primary">Actualizar Membresias</button></p>
      </div>
      <div class="col">
        <p><button id="bteliminar" class="btn btn-danger">Eliminar Membresias</button></p>
      </div>
    </div>

  </div>
</div>

<table id="data" class="table" data-click-to-select="true" data-maintain-meta-data="true" data-toggle="table"
  data-multiple-select-row="false" data-toolbar="#toolbar">
  <thead>
    <tr>
      <th data-checkbox="true">#</th>
      <th>ID Membresias</th>
      <th>Descripcion</th>
      <th>Costo</th>

    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px; "><label>
          <input data-index="1" name="btSelectItem" type="checkbox">
          <span></span>
        </label></td>
      {% for cell in row %}
      <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>

  $(function () {


    $('#data').bootstrapTable('uncheckAll');

    $('#btseleccionar').click(function () {
      var test = $('#data').bootstrapTable('getSelections');

      if (test.length > 0) {
        $("input[name='descripcion']").val(test[0][2]);
        $("input[name='costo']").val(test[0][3]);

      } else {

        alert("Seleccione un Registro de la Tabla")
      }

    })


    $('#bteliminar').click(function () {
      var test = $('#data').bootstrapTable('getSelections');
      
      if (test.length > 0) {
        $.ajax({
          type: "DELETE",
          url: "/membresias",
          contentType: "application/json",
          data: JSON.stringify({ 
          id: test[0][1] }),
          success: function (msg) {
            alert("Borrado Exitoso");
            location.reload();
          },
          error: function(request,status,errorThrown) {
        alert("Error: "+errorThrown);
        location.reload();

        }

        })


      } else {

        alert("Seleccione un Registro de la Tabla")
      }
    });



    // $('#btactualizar').click(function () {
    //   var test = $('#data').bootstrapTable('getSelections');

    //   if (test.length > 0) {
    //     $.ajax({
    //       type: "PUT",
    //       url: "/membresias",
    //       contentType: "application/json",

    //       data: JSON.stringify({
    //       cedula: $("input[name='cedula']").val(),  
    //       nombre: $("input[name='nombre']").val(),
    //       primer_apellido:$("input[name='primer_apellido']").val(),
    //       segundo_apellido:$("input[name='segundo_apellido']").val(),
    //       membresia:$("select[name='membresia']").val(),
    //       direccion:$("textarea[name='direccion']").val(),
    //       correo:$("input[name='correo']").val() }),

    //       success: function (msg) {
    //         alert("Actualizacion Exitosa");
    //         location.reload();
    //       },
    //     error: function(request,status,errorThrown) {
    //       alert("Error: "+errorThrown);
    //     location.reload();
    //     }

    //     })



    //   } else {

    //     alert("Seleccione un Registro de la Tabla");
    //   }
    // });






  });





</script>

{% endblock %}