{% extends 'layout.html' %}

{% block body %}
  <div class="text-white">
	<h1 style="font-family: Georgia, serif;">Digite la Informacion del Cliente a Ingresar</h1>
  <div class="font-italic">
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.nombre, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.apellido, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
</div>
</div>

<table id="data" class="table">
    <thead>
      <tr>
  {% for header in headings %}
        <th>{{header}}</th>
{% endfor %}
</tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}